@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

*{
  font-family: "Domine", serif;
}

@layer base{
  button {
    @apply cursor-pointer;
  }
}